# Shopify Storefront API
SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=your-public-storefront-access-token

# Zop / Shiprocket extended product detail API
ZOP_API_TOKEN=

# Trustoo reviews API
TRUSTOO_PUBLIC_TOKEN=
TRUSTOO_PRIVATE_TOKEN=
